/* Globale Einstellungen für die Schriftart */
body {
  margin: 0;
  padding: 0;
  font-size: 16px; /* Basisgröße für den Text */
  background-color: #E5E2DA; /* Gleiche Hintergrundfarbe wie in der NavigationBar */
  font-family: 'Raleway', sans-serif; /* Standard-Schriftart für Text */
}

/* Stile für die Überschriften */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif; /* Überschriften in Space Grotesk */
  color: #121C2C; /* Dunkelblauer Farbton wie in der NavigationBar */
}

/* Stile für Absätze */
p {
  font-family: 'Raleway', sans-serif; /* Absätze in Raleway */
  color: #121C2C; /* Dunkelblauer Farbton */
}

/* Stile für Buttons */
button, .MuiButton-root {
  font-family: 'Raleway', sans-serif; /* Buttons in Raleway */
  font-size: 1rem;
  color: #121C2C; /* Dunkelblauer Farbton */
  text-transform: none; /* Kein Uppercase für Button-Text */
}
